# Bỏ thư mục chứa media upload (ảnh, file...), thường được sinh ra runtime
App/backend/media/

# Bỏ file .env chứa biến môi trường
App/backend/.env

# Bỏ mã nguồn xử lý trong app/src
App/backend/app/src

# Bỏ file dump Redis
App/backend/dump.rdb
